babel==2.17.0
beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
courlan==1.3.2
cryptography==44.0.1
dateparser==1.2.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
htmldate==1.9.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jusText==3.0.1
lxml==5.3.1
lxml_html_clean==0.4.1
MarkupSafe==3.0.2
mysql-connector-python==9.2.0
pycparser==2.22
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
regex==2024.11.6
requests==2.32.3
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.38
tld==0.13
trafilatura==2.0.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3
urllib3==2.3.0
Werkzeug==3.1.3
